.button-1-custom{
    outline: 0;
    cursor: pointer;
    border: none !important;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
    background: #fff !important;
    color: #696969 !important;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%) !important;
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease !important;
}
    .button-1-custom:active:hover{
        background: rgba(255,255,255,0.9) !important;
        box-shadow: 0 6px 20px rgb(93 93 93 / 23%) !important;
    }
    

